<app-loader [showLoader]="showLoader"></app-loader>
<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">

          <div class="text-center">
            <img src="../../../../assets//files/assets/images/logo.png" style="width: 120px;" class="logo" alt="Company's logo" />
        </div>

        </div>
          <div class="col-sm-12" *ngIf="fpassword" >
              <!-- Authentication card start -->
<form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="md-float-material form-material" >

                  <div class="auth-box card">

                      <div class="p-20">
                        <div class="alert alert-{{alert}}" *ngIf="errorDiv">{{errors}}</div>
                          <div class="row m-b-10">
                              <div class="col-md-12">
                                  <h5 class="text-center txt-primary">Forgot Password</h5>
                              </div>
                          </div>
                          <!-- <p class="text-muted text-center p-b-5">Sign in with your regular account</p> -->
<div class="form-group form-primary">
  <input type="text" formControlName="username" id="username"
  class="form-control fill" required minlength="4" maxlength="15">
  <span class="form-bar"></span>
  <label class="float-label">Enter your username<span class="red">*</span></label>
  <div *ngIf="this.f.username.invalid && (this.f.username.dirty || this.f.username.touched)">
    <div *ngIf="this.f.username.errors.required" class="red">
    Username is required.
    </div>
    <div *ngIf="this.f.username.errors.minlength" class="red">
    Username must be at least 4 characters long.
    </div>
    <div *ngIf="this.f.username.errors.maxlength" class="red">
    Username should not exceed 15 characters.
    </div>
  </div>
</div>



                         <!--  <div class="col-12">
                             <div class="checkbox-fade fade-in-primary d-">
                                  <label>
                                      <input type="checkbox" value="1" formControlName="rememberme">
                                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                      <span class="text-inverse">Remember me</span>
                                  </label>
                              </div>
                              <div class="forgot-phone text-right float-right">
                                  <a [routerLink]="['/auth/forgot-password']" routerLinkActive="router-link-active"  class="text-right f-w-600"> Forgot Password?</a>
                              </div>
                          </div>-->

                          </div>
                          <div class="row m-t-20">
                              <div class="col-md-12 p-l-20 p-r-20">
                                  <button id="login-button" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 solid-button" [disabled]="disabled"  >Send verification code</button>
                              </div>
                          </div>
                          <p class="text-inverse text-center">Back to login <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" style="color: #0d665c"> <b>Login </b></a></p>
                      </div>

              </form>
                  <!-- end of form -->
              </div>

<div class="col-sm-12" *ngIf="!fpassword" >
                <!-- Authentication card start -->
  <form [formGroup]="resetPassword" (ngSubmit)="verifyPasswordSubmit()" class="md-float-material form-material" >

    <div class="auth-box card">

        <div class="p-20">
          <div *ngIf="codeExpired">OTP expired, <a href="javascript:;" (click)="resendOTP()">Click here</a> to resend OTP.</div>
          <div class="alert alert-{{alert1}}" *ngIf="errorDiv1">{{errors1}}</div>
            <div class="row m-b-10">
                <div class="col-md-12">
                    <h5 class="text-center txt-primary">Set new password</h5>
                </div>
            </div>


            <div class="form-group form-primary">
              <input type="text" formControlName="new_username" id="new_username"
              class="form-control fill" required minlength="4" maxlength="15">
              <span class="form-bar"  ></span>
              <label class="float-label">Username<span class="red">*</span></label>
            </div>

            <div class="form-group form-primary" >
              <input type="text" formControlName="code" id="code"
              class="form-control fill" required minlength="6" maxlength="6">
              <span class="form-bar"></span>
              <label class="float-label">Enter OTP<span class="red">*</span></label>
              <span *ngIf="counter <= 0"><a href="javascript:;" (click)="resendOTP()">Click here</a> to resend OTP</span>
              <span *ngIf="counter > 0">OTP will expire in {{counter <= 0 ? null : counter}} sec</span>
              <div *ngIf="this.a.code.invalid && (this.a.code.dirty || this.a.code.touched)">
                <div *ngIf="this.a.code.errors.required" class="red">
                OTP is required.
                </div>
              </div>
            </div>

            <div class="form-group form-primary">
              <input type="password" formControlName="password" id="password"
              class="form-control fill" required minlength="4" maxlength="25">
              <span class="form-bar"></span>
              <label class="float-label">Enter new password<span class="red">*</span></label>
              <div *ngIf="this.a.password.invalid && (this.a.password.dirty || this.a.password.touched)">
                <div *ngIf="this.a.password.errors.required" class="red">
                Password is required.
                </div>
                <div *ngIf="this.a.password.errors.minlength" class="red">
                Password must be at least 4 characters long.
                </div>
                <div *ngIf="this.a.password.errors.maxlength" class="red">
                Password should not exceed 25 characters.
                </div>
              </div>
            </div>

            <div class="form-group form-primary" >
              <input type="password" formControlName="confirm_password" id="confirm_password"
              class="form-control fill" required minlength="4" maxlength="25">
              <span class="form-bar"></span>
              <label class="float-label">Confirm new password<span class="red">*</span></label>
              <div *ngIf="this.a.confirm_password.invalid && (this.a.confirm_password.dirty || this.a.confirm_password.touched)">
                <div *ngIf="this.a.confirm_password.errors.required" class="red">
                New Password is required.
                </div>
                <div *ngIf="this.a.confirm_password.errors != this.a.password.value" class="red">
                  Confirm password should match with new password
                  </div>
                <div *ngIf="this.a.confirm_password.errors.minlength" class="red">
                New Password must be at least 4 characters long.
                </div>
                <div *ngIf="this.a.confirm_password.errors.maxlength" class="red">
                New Password should not exceed 25 characters.
                </div>
              </div>
            </div>



          </div>


          <div class="row m-t-20">
            <div class="col-md-12 p-l-20 p-r-20">
                <button id="login-button" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 solid-button" >Update new password</button>
            </div>
        </div>
        <p class="text-inverse text-center">Did not receive OTP?  <a (click)="backtoPage()" style="color: #0d665c"> <b>Click here </b></a></p>

        <p class="text-inverse text-center">Back to login <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" style="color: #0d665c"> <b>Login </b></a></p>


        </div>
      </form>
    </div>
              <!-- Authentication card end -->
          </div>
          <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->

  <!-- end of container-fluid -->
</section>
