<app-loader [showLoader]="showLoader"></app-loader>
<app-header *ngIf="userLoggedIn"></app-header>
<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <!-- Authentication card start -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="md-float-material form-material" >
                  <div class="text-center">
                      <img src="../../../../assets//files/assets/images/logo.png" style="width: 120px;" class="logo" alt="Company's logo" />
                  </div>
                  <div class="auth-box card">

                      <div class="p-20">
                        <div class="alert alert-{{alert}}" *ngIf="errorDiv">{{errors}}</div>
                        <div class="alert alert-danger" *ngIf="userNotVerified">Your account is not verified. <a href="javascript:;" (click)="verifyUser()"  >Click here</a> to verify. </div>
                        <div class="alert alert-{{alertMessage}}" *ngIf="codeSent">Verification code sent again.</div>
                          <div class="row m-b-10">
                              <div class="col-md-12">
                                  <h5 class="text-center txt-primary">Login</h5>
                              </div>
                          </div>
                          <!-- <p class="text-muted text-center p-b-5">Sign in with your regular account</p> -->
                          <div class="form-group form-primary">
                              <input type="text" formControlName="username" id="username"
                              class="form-control fill" required minlength="4" maxlength="15">
                              <span class="form-bar"></span>
                              <label class="float-label">Your username<span class="red">*</span></label>
<div *ngIf="this.f.username.invalid && (this.f.username.dirty || this.f.username.touched)">
  <div *ngIf="this.f.username.errors.required" class="red">
    Username is required.
  </div>
  <div *ngIf="this.f.username.errors.minlength" class="red">
    Username must be at least 4 characters long.
  </div>
  <div *ngIf="this.f.username.errors.maxlength" class="red">
    Username should not exceed 15 characters.
  </div>
</div>
                          </div>
                          <div class="form-group form-primary">
                              <input type="password" formControlName="password" id="password" class="form-control fill" required minlength="4" maxlength="25">
                              <span class="form-bar"></span>
                              <label class="float-label">Password<span class="red">*</span></label>
<div *ngIf="this.f.password.invalid && (this.f.password.dirty || this.f.password.touched)">
  <div *ngIf="this.f.password.errors.required" class="red">
    Password is required.
  </div>

  <div *ngIf="this.f.password.errors.minlength" class="red">
    Password must be at least 4 characters long.
  </div>

  <div *ngIf="this.f.password.errors.maxlength" class="red">
    Password should not exceed 25 characters.
  </div>
</div>
                          </div>


<div class="form-group form-primary" *ngIf="newPassword">
  <input type="password" formControlName="new_password" id="new_password" class="form-control fill" required minlength="4" maxlength="25">
  <span class="form-bar"></span>
  <label class="float-label">New Password<span class="red">*</span></label>
<div *ngIf="this.f.new_password.invalid && (this.f.new_password.dirty || this.f.new_password.touched)">
<div *ngIf="this.f.new_password.errors.required" class="red">
Password is required.
</div>

<div *ngIf="this.f.new_password.errors.minlength" class="red">
Password must be at least 4 characters long.
</div>

<div *ngIf="this.f.new_password.errors.maxlength" class="red">
Password should not exceed 25 characters.
</div>
</div>
</div>

                          <div class="form-group row" >
                              <div class="col-sm-12">
                                  <select  id="LoginRole" formControlName="role" class="form-control fill" required >
                                      <option value="0" >Select Role</option>
                                      <option value="TechnicalDesigner">Technical Designer</option>
                                      <option value="FashionEntrepreneur">Fashion Entrepreneur</option>
                                      <option value="PatternMaker">Pattern Maker</option>
                                      <option value="FabricSupplier">Fabric Supplier</option>
                                      <option value="TrimSupplier">Trim Supplier</option>
                                      <option value="Factory">Factory</option>
                                      <option value="CertificationTestingAgency">Certification & Testing Agency</option>
                                      <option value="Guest">Guest</option>
                                  </select>

<div *ngIf="this.f.role.value == 0 && (this.f.role.touched)">
  <div *ngIf="this.f.role.errors.required" class="red">
    Role is required.
  </div>

</div>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="checkbox-fade fade-in-primary d-">
                                  <label>
                                      <input type="checkbox" value="1" formControlName="rememberme">
                                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                      <span class="text-inverse">Remember me</span>
                                  </label>
                              </div>
                              <div class="forgot-phone text-right float-right">
                                  <a [routerLink]="['/auth/forgot-password']" routerLinkActive="router-link-active"  class="text-right f-w-600"> Forgot Password?</a>
                              </div>
                          </div>

                          </div>
                          <div class="row m-t-20">
                              <div class="col-md-12 p-l-20 p-r-20">
                                  <button id="login-button" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 solid-button" [disabled]="disabled"  >Login</button>
                              </div>
                          </div>
                          <p class="text-inverse text-center">Don't have an account?<a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" style="color: #0d665c"> <b>Register here </b></a></p>
                      </div>

              </form>
                  <!-- end of form -->
              </div>
              <!-- Authentication card end -->
          </div>
          <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->

  <!-- end of container-fluid -->
</section>
