.loadersmall {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #ff9100;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
top: 200px;
right: 610px;
z-index: 1;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#loadings{
  height: 100%;
  width: 100%;
  background-color: #333333c4;
    position: absolute;
    z-index: 1;
    top:0px;
}
